// .logo {
// 	margin: 2%;
// 	padding-left: 45px;
// 	position: absolute;
// }

.bblogo {
	max-width: 55vw;
	position: absolute;
	z-index: 3;
	top: 90px;
	left: 85px;
}

.homeImg {
	position: absolute;
	top: 50px;
	width: 100%;
	height: auto;
}