// .logo {
// 	margin: 2%;
// 	padding-left: 45px;
// 	position: absolute;
// }

.bblogo {
	max-width: 55vw;
	position: absolute;
	z-index: 3;
	top: 90px;
	left: 85px;
}

.image_full {
	display: block;
}

.image_mobile {
	display: none;
}

.homeImg {
	max-height: 37.5vh;
}

.homeMobile {
	max-height: 95vh;
}