nav {
	background: $backcolor;
	z-index: 10; // overlaying
	position: fixed;
	top: 0px;
	text-align: center;
	display: none;
	width: 100%;
	ul {
		li {
			margin: auto;
			a {
				font-size: 40px;
				line-height: 40px;
				text-align: center;
			}
		}
	}
}

header {
	height: 50px;
	background: $backcolor;
}

.active {
	margin: 0;
	height: 1020px;
	display: block;
	a {
		margin: 50px;
		color: $fontcolor;
		display: block;
	}
}