nav {
	background: #D7D7D9;
	z-index: 3; // overlaying
	position: fixed;
	top: 0px;
	right: 0px;
	text-align: center;
	left: 0px;
	height: 990px;
	display: none;
	ul {
		li {
			margin: auto;
			float: left;
			a {
				color: $fontcolor;
				font-size: 35px;
				line-height: 125px;
				float: right;
			}
		}
	}
}

.active {
	margin: 0;
	height: 1035px;
	display: block;
	a {
		padding-right: 300px;
	}
}