 .paraHome2 {
	width: 80%; 
	line-height: 35px;
	font-size: 5vw;
	color: $fontcolor;
	position: absolute;
	top: 270px;
	left: 35px;
	float: left;
	margin-top: 150px;
}

.paraHome1 {
	width: 80%; 
	line-height: 35px;
	font-size: 5vw;
	color: $fontcolor;
	position: absolute;
	top: 250px;
	left: 1px;
	float: left;
	margin-left: 37px;
}

.paraSec {
	background-color: $backcolor;
	opacity: 0.7;
	position: absolute;
	z-index: 0;
 	height: 450px;
  	width: 300px;
  	top: 130px;
	left: 38px;
}

.paraAbout {
	margin: 20px 20px 20px 20px;
	width: 90%;
	color: $fontcolor;
	display: block;
	font-size: 3.3vw;
	position: absolute;
}

.paraEvent {
	margin: 250px 20px 20px 20px;
	width: 90%;
	color: $fontcolor;
	display: block;
	font-size: 3.5vw;
	position: absolute;
	// line-height: 30px; 
}

.clearfix {
	content: "";
	clear: both;
	display: table;
}

h2 {
	margin: 0;
	padding: 0;
	color: #F4AA4E;
}